* {
    padding: 0;
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
}

body {
    background-color: #c2baaf;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.button {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 9999px;
    margin: 2px;
    padding: 10px 20px;
    font-size: large;
}

.footer {
    padding: 0;
    font-size: 20px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button_container {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 10px;
}

.contact_button {
    background-color: #000;
    color: #fff;
    border-radius: 9999px;
}

.pane {
    position: fixed;
    top:0;
    right: -300px;
    width: 200px;
    height: 50%;
    background-color: #000;
    color: #fff;
    transition: right 0.3s ease;
    z-index: 1000;
}

.pane.active {
    right: 0;
}

#contactPane {
    display: none;
    margin-bottom: 3px;
}
#contactPane.active {
    display: block;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.fixed-element {
    right:0;
}