* {
    font-family: 'Manrope', sans-serif;
}

.container {
    padding: 0 20px;
    max-width: 3000px;
}

body {
    background-color: #c2baaf;
    color: #676464;
    font-size: 18px;
    margin: 0;
    padding-top: 80px;
}

.img {
    margin:5px;
    margin-left:30px;
    width:250px;
    height:auto;
    float: right;
}

.header {
    background-color: #000;
    display: grid;
    color:#fff;
    position: fixed;
    height:80px;
    width: 100%;
    top:0;
    left: 0;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1000;
}

.header-left {
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
}

.nav_buttons {
  position:absolute;
  display:flex;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  gap: 20px;
}

.header-right {
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
}

.button {
    background-color: #000;
    color: #fff;;
    text-align: center;
    border-radius: 9999px;
    margin: 3px;
    padding: 10px 20px;
    font-size: large;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #5e5c5c;
    transform: scale(1.1);
}

.button:active {
  transform: scale(0.95);     
  background-color: #717070;     
}

.footer {
    padding: 0;
    font-size: 20px;
    background-color: #000;
    display: flex;
    color:#fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button_container {
    justify-content: center;
    align-items: center;
    position: relative;
    display:flex;
    width: 100%;
    z-index:150;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
}

.contact_button {
    margin-left:auto;
    background-color: #000;
    color: #fff;
    border-radius: 9999px;
}

.pane {
    position: fixed;
    top:0;
    right: -300px;
    width: 200px;
    height: 35%;
    background-color: #2d2d2d;
    color: #fff;
    padding: 2px;
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pane.active {
    right: 0;
    align-items: center;
}

#contactPane {
    display: none;
    margin-bottom: 3px;
}
#contactPane.active {
    display: block;
}

.pane .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #000;
}

.overlay {
  display: none;             
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #000;
  z-index: 1000;
}

.fixed-element {
    right:0;
}

.main_column {
    float: left;
    width: 70%;
    min-height: 100vh;
}

.secondary_column {
    float: left;
    width: 15%;
    background-color: #a7a19a;
    min-height: 100vh;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    width:100%;
}

body .secondary_column {
  background-color: #6c6a6a;
    background-image: 
    conic-gradient(at 1em 1em, transparent 270deg, #4203 270deg),
    conic-gradient(at 1em 1em, transparent 270deg, #4204 270deg),
    conic-gradient(at 1em 1em, transparent 270deg, #4205 270deg),
    conic-gradient(at 1em 1em, transparent 270deg, #4206 270deg);
  background-size: 1em 1em, 4em 4em, 4em 4em, 4em 4em, 4em 4em;
  animation: bpx 30s infinite, bpy 12s -3.75s infinite;
}

@keyframes bpx {
  0%, 7.5%, 100%   { background-position-x: 0, 0, 1em, 2em, 3em; }
  12.5%, 20%       { background-position-x: 0, 1em, 0, 3em, 2em; }
  25%, 32.5%       { background-position-x: 0, -1em, -2em, 5em, 4em; }
  37.5%, 45%       { background-position-x: 0, 1em, -4em, 7em, 2em; }
  50%, 57.5%       { background-position-x: 0, -2em, -5em, 8em, 5em; }
  62.5%, 70%       { background-position-x: 0, -3em, -4em, 7em, 6em; }
  75%, 82.5%       { background-position-x: 0, -1em, -2em, 5em, 4em; }
  87.5%, 95%       { background-position-x: 0, -3em, 0, 3em, 6em; }
}

@keyframes bpy {
  0%, 7.5%, 100%   { background-position-y: 0, 0, 1em, 2em, 3em; }
  12.5%, 20%       { background-position-y: 0, 1em, 0, 3em, 2em; }
  25%, 32.5%       { background-position-y: 0, -1em, -2em, 5em, 4em; }
  37.5%, 45%       { background-position-y: 0, 1em, -4em, 7em, 2em; }
  50%, 57.5%       { background-position-y: 0, -2em, -5em, 8em, 5em; }
  62.5%, 70%       { background-position-y: 0, -3em, -4em, 7em, 6em; }
  75%, 82.5%       { background-position-y: 0, -1em, -2em, 5em, 4em; }
  87.5%, 95%       { background-position-y: 0, -3em, 0, 3em, 6em; }
}

.hr {
    border:2px #676464;
    height:2px;
    background-color: #676464;
    width:90%;
    align-items: center;
}

.article {
    margin-left:5px;
}